<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PROMOÇÃO - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styleEdicao.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" id="home" href="/">Farmácia BD</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/clientes">CLIENTES</a>
        <a class="p-2 text-dark" href="/medicamentos">MEDICAMENTOS</a>
        <a class="p-2 text-dark" href="/promocoes">PROMOÇÕES</a>
        <a class="p-2 text-dark" href="/vendedores">VENDEDORES</a>
    </nav>
</div>

<div class="container">
    <div class="py-5 text-center">
        <h2>Formulário de Edição de Promoção</h2>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dados da promoção</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button onclick="window.location.href='/newPromocao'" class="btn btn-sm btn-outline-secondary">Nova Promoção</button>
            </div>
        </div>
    </div>

    <div class="mx-auto">
        <form class="needs-validation" novalidate th:action="@{/editPromocao/{id}(id=${promocao.id})}" th:method="post" th:object="${promocao}">

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" id="medicamentoId" name="medicamentoId" th:value="${promocao.medicamento.id}" />

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="medicamento">Medicamento</label>
                    <select class="custom-select d-block w-100" id="medicamento" name="medicamentoId" required disabled>
                        <option value="" selected th:text="${promocao.medicamento.nome}"></option>
                    </select>
                    <div class="invalid-feedback">
                        É obrigatório selecionar um medicamento.
                    </div>
                </div>
            </div>			

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="desconto">Desconto</label>
                    <input type="number" class="form-control" id="desconto" name="desconto" th:field="*{desconto}" step="0.01">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('desconto')}">
                        Por favor, insira um valor de desconto válido.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="dataInicio">Data de Início</label>
                    <input type="date" class="form-control" id="dataInicio" name="dataInicio" th:field="*{dataInicio}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('dataInicio')}">
                        Por favor, insira uma data de início válida.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="dataFim">Data de Fim</label>
                    <input type="date" class="form-control" id="dataFim" name="dataFim" th:field="*{dataFim}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('dataFim')}">
                        Por favor, insira uma data de fim válida.
                    </div>
                </div>
            </div>
            

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Salvar</button>

        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('form').submit(function(event) {
            var desconto = $('#desconto').val();
            var dataInicio = $('#dataInicio').val();
            var dataFim = $('#dataFim').val();

            if (!desconto || desconto.trim() === "" || dataInicio.trim() === "" || dataFim.trim() === "") {
                alert('Por favor, preencha todos os campos corretamente.');
                event.preventDefault(); // Impede o envio do formulário
            }
        });
    });
</script>

</body>

</html>
