<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MEDICAMENTO - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styleEdicao.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" id="home" href="/">Farmácia BD</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/medicamentos">MEDICAMENTOS</a>
        <a class="p-2 text-dark" href="/clientes">CLIENTES</a>
        <a class="p-2 text-dark" href="/promocoes">PROMOÇÕES</a>
        <a class="p-2 text-dark" href="/vendedores">VENDEDORES</a>
    </nav>
</div>

<div class="container">
    <div class="py-5 text-center">
        <h2>Formulário de Edição de Medicamento</h2>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dados do medicamento</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button onclick="window.location.href='/newMedicamento'" class="btn btn-sm btn-outline-secondary">Novo Medicamento</button>
            </div>
        </div>
    </div>

    <div class="mx-auto">
        <form class="needs-validation" novalidate th:action="@{/editMedicamento/{id}(id=${medicamento.id})}" th:method="post" th:object="${medicamento}" onsubmit="return validarMedicamento()">

            <input type="hidden" th:field="*{id}" />

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}" >
                    <div class="invalid-feedback">
                        É obrigatório inserir um nome válido.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="dosagem">Dosagem</label>
                <input type="text" class="form-control" id="dosagem" name="dosagem" placeholder="XXmg" th:field="*{dosagem}" required>
                <div class="invalid-feedback">
                    Por favor, insira uma dosagem válida (entre 0.10ml e 100ml).
                </div>
            </div>

            <div class="mb-3">
                <label for="preco">Preço</label>
                <input type="number" min="0.00" max="10000.00" step="0.10" id="preco" name="preco" th:field="*{preco}" required>
                <div class="invalid-feedback">
                    Por favor, insira um preço válido (entre R$ 0,10 e R$10000.00).
                </div>
            </div>

            <div class="mb-3">
                <label for="quantidade">Quantidade</label>
                <input type="number" min="1" id="quantidade" name="quantidade" th:field="*{quantidade}" required>
                <div class="invalid-feedback">
                    Por favor, insira uma quantidade válida (maior que 0).
                </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Salvar</button>

        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function validarMedicamento() {
        var nome = $('#nome').val();
        var dosagem = $('#dosagem').val();
        var preco = $('#preco').val();
        var quantidade = $('#quantidade').val();

        if (!nome || parseFloat(dosagem) < 0.10 || parseFloat(dosagem) > 100.00 || 
            parseFloat(preco) < 0.10 || parseFloat(preco) > 10000.00 || 
            parseInt(quantidade) <= 0) {
            $('#medicamentoForm').addClass('was-validated');
            return false;
        }

        // Verificar se já contém "ml"
        if (!dosagem.includes("ml")) {
            // Adicionar "ml" ao final do valor da dosagem
            dosagem += "ml";
            $('#dosagem').val(dosagem);
        }

        $('#medicamentoForm').removeClass('was-validated');
        return true;
    }
</script>

</body>

</html>
