<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Medicamento</title>
</head>

<body>

    <header>
    	<nav>
    	</nav>
    </header>

    <div>
        <h1>Editar Medicamento</h1>
        <form action="#" method="post" th:action="@{/editMedicamento}" th:object="${medicamento}">
            <input type="hidden" th:field="*{id}" />
            <label>Nome:</label><br>
            <input type="text" th:field="*{nome}" /><br>
            <label>Dosagem:</label><br>
            <input type="text" th:field="*{dosagem}" /><br>
            <label>Preço:</label><br>
            <input type="text" th:field="*{preco}" /><br>
            <label>Quantidade:</label><br>
            <input type="text" th:field="*{quantidade}" /><br><br>
            <button type="submit">Salvar</button>
            <br>
        </form>
        <br>
        <a href="/newMedicamento">Novo Medicamento</a>
        <br>
        <a href="/medicamentos">Lista de Medicamento</a>
        <br>
        <a href="/">Página Principal</a>
    </div>

    <footer>
    </footer>

</body>

</html>
