<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Venda - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
</head>

<body class="bg-light">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" id="home" href="/">Farmácia
                BD</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/clientes">CLIENTES</a>
            <a class="p-2 text-dark" href="/medicamentos">MEDICAMENTOS</a>
            <a class="p-2 text-dark" href="/vendedores">VENDEDORES</a>
            <a class="p-2 text-dark" href="/promocoes">PROMOÇÕES</a>
        </nav>
    </div>

    <div class="container">
        <div class="py-5 text-center">
            <h2>Edição de Venda</h2>
        </div>

        <div class="mx-auto">
            <form class="needs-validation" novalidate th:object="${venda}" th:action="@{'/editVenda/' + ${venda.id}}">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="cliente">Cliente</label>
                        <select class="custom-select d-block w-100" id="cliente" name="clienteId" required>
                            <option value="" selected th:text="${venda.cliente.nome}"></option>
                        </select>
                        <div class="invalid-feedback">
                            É obrigatório selecionar um cliente.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="vendedor">Vendedor</label>
                        <select class="custom-select d-block w-100" id="vendedor" name="vendedorId" required>
                            <option value="" selected th:text="${venda.vendedor.nome}"></option>
                        </select>
                        <div class="invalid-feedback">
                            É obrigatório selecionar um vendedor.
                        </div>
                    </div>
                </div>
                <div class="row">
				    <div class="col-md-12 mb-3">
				        <label for="medicamento">Medicamentos</label>
				        <select class="custom-select d-block w-100" id="medicamento" name="medicamentoId" required>
				            <option value="" selected disabled hidden>Selecione um ou mais medicamentos...</option>
				            <option th:each="medicamento : ${venda.medicamentos}" th:value="${medicamento.id}" th:text="${medicamento.nome}"></option>
				        </select>
				        <div class="invalid-feedback">
				            É obrigatório selecionar um medicamento.
				        </div>
				    </div>
				</div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="promocao">Promoção</label>
                        <select class="custom-select d-block w-100" id="promocao" name="promocaoId" required>
                            <option value="">Selecione uma promoção...</option>
                            <option th:each="promocao : ${promocoes}" th:value="${promocao.id}"
                                th:text="${promocao.medicamento.nome}"></option>
                        </select>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Salvar Alterações</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

</html>
