<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vendas - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="bg-light">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" id="home" href="/">Farmácia BD</a>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/clientes">CLIENTES</a>
            <a class="p-2 text-dark" href="/medicamentos">MEDICAMENTOS</a>
            <a class="p-2 text-dark" href="/vendedores">VENDEDORES</a>
            <a class="p-2 text-dark" href="/promocoes">PROMOÇÕES</a>
        </nav>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Vendas Cadastradas</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button onclick="window.location.href='/newVenda'"
                        class="btn btn-sm btn-outline-secondary">Nova Venda</button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Vendedor</th>
                        <th>Medicamento(s)</th>
                        <th>Preço Final</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
				    <tr th:each="venda : ${vendas}">
				        <td th:text="${venda.id}"></td>
				        <td th:text="${venda.cliente != null ? venda.cliente.nome : '-'}"></td>
				        <td th:text="${venda.vendedor != null ? venda.vendedor.nome : '-'}"></td>
				        <td>
				            <span th:each="medicamento, iterStat : ${venda.medicamentos}">
				                <span th:text="${medicamento.nome}"></span>
				                <span th:if="${!#lists.isEmpty(venda.medicamentos) && iterStat.index != #lists.size(venda.medicamentos) - 1}">,</span>
				            </span>
				        </td>
				        <td th:text="${venda.precoFinal}"></td>
				        <td>
				            <a th:href="@{/editVenda/{id}(id=${venda.id})}" class="btn btn-primary btn-sm">Editar</a>
				            <a th:href="@{/deleteVenda/{id}(id=${venda.id})}" class="btn btn-danger btn-sm">Excluir</a>
				        </td>
				    </tr>
				</tbody>
            </table>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

</body>

</html>
