<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farmácia</title>
</head>

<body>

    <header>
        <nav>
        </nav>
    </header>

    <div>
        <h1>Bem-vindo à Página Inicial</h1>
        <h2>Escolha o seu destino:</h2>
        <ul>
            <li><a href="/clientes">Gerenciar Clientes</a></li>
            <li><a href="/medicamentos">Gerenciar Medicamentos</a></li>
            <li><a href="/promocoes">Gerenciar Promoções</a></li>
            <li><a href="/vendas">Gerenciar Vendas</a></li>
            <li><a href="/vendedores">Gerenciar Vendedores</a></li>
        </ul>
    </div>

    <footer>
    </footer>

</body>

</html>
