<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Vendedor</title>
</head>

<body>

    <header>
        <nav>
        </nav>
    </header>

    <div>
        <h1>Editar Vendedor</h1>
        <form action="#" method="post" th:action="@{/editVendedor}" th:object="${vendedor}">
        
            <input type="hidden" th:field="*{id}" />
            
             <label for="nome">Nome:</label><br>
            <input type="text" th:field="*{nome}" /><br>
            
            <label for="cpf">CPF:</label><br>
            <input type="text" th:field="*{cpf}" /><br>
            
            <label for="telefone">Telefone:</label><br>  
            <input type="text" th:field="*{telefone}" /><br>
            
            <label for="salario">Salário</label><br>
            <input type="text" th:field="*{salario}" /><br>
            
            <label for="percentualComissao">Percentual Comissão</label><br>
            <input type="text" th:field="*{percentualComissao}"/><br>
            
            <br>
            <button type="submit">Salvar</button><br>
        </form>
        <br>
        <a href="/newVendedor">Novo Vendedor</a>
        <br>
        <a href="/vendedores">Lista de Vendedor</a>
        <br>
        <a href="/">Página Principal</a>
    </div>

    <footer>
    </footer>

</body>

</html>
